*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	margin:2rem;
}
body {
	margin: 0;
	background:#fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
main{
	text-align: center;
}
input[type=text],
select,
textarea {
	width: 100%;
	padding: 0.5em 0.75em;
	border: 0;
	border-radius:0.5rem;
	font-size: 1.25rem;
	font-family: inherit;
	font-weight: 400;
	color: #353535;
}
input[type=radio] {
	display: inline-block;
}
input[type=submit],
input[type=reset] {
	display: inline-block;
	margin: 0 1rem 0 0;
	padding: 0.75em;
	background-color: red;
	border: 0;
	border-radius:0.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: #353535;
}
legend {
	display: block;
	font-size: 1rem;
	margin: 0 0 1rem;
}
label {
	display: inline-block;
	font-size: 1rem;
	margin: 0 0 1rem;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.container-fixed {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}
.input-row {
	margin: 0 0 1rem;
}
header{
	background-color:lightslategray;
	color:#fff;

}

footer{
	background-color:rgb(40, 76, 112);
	color:#fff;
	padding: 2.5rem;
	text-align:center;
}
/* ==== step_two==== */

.cardbody{
	display:grid;
	grid-template-columns: 33% 33% 33%;
}
.card1{
	border: 2px solid #000;
}
.card2{
	border: 2px solid #000;
}
.card3{
	border: 2px solid #000;
}
h3,.card-title1{
	background-color:red;
	color:#fff;
	padding:2rem;
}
h3,.card-title2{
	background-color:blue;
	color:#fff;
	padding:2rem;
}	
h3,.card-title3{
	background-color:slategray;
	color:#fff;
	padding:2rem;
}
btn{
	display: inline-block;
	margin: 0 1rem 0 0;
	padding: 0.75em;
	background-color: red;
	border: 0;
	border-radius:0.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: #353535;
}



@media screen and (min-width: 20rem) {
	.container-fixed {
		max-width: 20rem;
	}
}

@media screen and (min-width: 40rem) {
	.container-fixed {
		max-width: 40rem;
	}
}

@media screen and (min-width: 60rem) {
	.container-fixed {
		max-width: 60rem;
	}
}

@media screen and (min-width: 70rem) {
	.container-fixed {
		max-width: 70rem;
	}
}